################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/Web.Debug.config
/Web.config
/Web.Debug.config
/Web.config
/Web.config
/Web.Debug.config
*.map
